@import "tailwindcss";

@theme {
  --color-brand-50: #f6f8fa;
  --color-brand-100: #c9d1d9;
  --color-brand-700: #30363d;
  --color-brand-800: #21262d;
  --color-brand-900: #0d1117;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #0d1117;
  color: #c9d1d9;
}
